[Unit]
Description=WRCT Broadcast Web Stream
After=wrct-icecast.service
Requires=wrct-icecast.service

[Service]
Type=simple
ExecStart=/home/wrct/stream/broadcast
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
User=wrct
Group=wrct
WorkingDirectory=/home/wrct/stream

[Install]
WantedBy=multi-user.target
