[Unit]
Description=WRCT Stream Ezstream
After=wrct-stream-sox.service
Requires=wrct-stream-sox.service

[Service]
Type=simple
ExecStart=/home/wrct/stream/stream/ezstream.sh
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
User=wrct
Group=wrct
WorkingDirectory=/tmp/wrct-stream

[Install]
WantedBy=multi-user.target
