[Unit]
Description=WRCT Broadcast sox (encodes the raw audio)
After=wrct-broadcast-rtl.service
Requires=wrct-broadcast-rtl.service

[Service]
Type=simple
ExecStart=/home/wrct/stream/broadcast/sox.sh
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
User=wrct
Group=wrct
WorkingDirectory=/tmp/wrct-broadcast/

[Install]
WantedBy=multi-user.target
