[Unit]
Description=WRCT Broadcast sox (encodes the raw audio)
After=wrct-stream-rtpdump.service
Requires=wrct-stream-rtpdump.service

[Service]
Type=simple
ExecStart=/home/wrct/stream/stream/sox.sh
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
User=wrct
Group=wrct
WorkingDirectory=/tmp/wrct-stream

[Install]
WantedBy=multi-user.target
