[Unit]
Description=WRCT Broadcast Restream
After=wrct-icecast.service
Requires=wrct-icecast.service

[Service]
Type=simple
ExecStart=/home/wrct/stream/broadcast.sh
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
User=wrct
Group=wrct
WorkingDirectory=/tmp/

[Install]
WantedBy=multi-user.target
